{% extends "base.html" %}
{% block subTitle %}
<p>Course</p>
{% endblock %}
{% block content %}
<div class="table-responsive">
	<table class="table table-striped table-sm">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Tel</th>
				<th>Website</th>
				<th>Desc</th>
			</tr>
		</thead>
		<tbody>
			{% for course in courses %}
			<tr>
				<td>{{course.courseId}}</td>
				<td>{{course.name}}</td>
				<td>{{course.tel}}</td>
				<td>{{course.website}}</td>
				<td>{{course.desc}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}